* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono NFP";
  font-size: 14px;
  font-weight: 700;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: #282a36;
  border: 3px solid;
  border-radius: 5px;
  border-color: #7fbeff;
}

tooltip label {
  color: #f8f8f2;
  padding: 5px;
}

#workspaces,
#clock,
#custom-uptime,
#cpu,
#memory,
#language,
#pulseaudio,
#battery,
#tray {
  background-color: #282a36;
  color: #f8f8f2;
  border-radius: 15px;
  padding: 0 15px;
  margin: 0 5px;
}

#workspaces {
  padding: 0;
}

#workspaces button {
  background-color: #44475a;
  color: #f8f8f2;
  border-radius: 15px;
  padding: 0 8px;
  margin: 4px 4px;
  transition: all 0.3s ease;
}

#workspaces button:hover {
  background: transparent;
}

#workspaces button.active {
  background-color: #44475a;
  color: #ff79c6;
  border-radius: 15px;
  padding: 0px 15px;
  margin: 4px 4px;
}

#workspaces button.urgent {
  color: #ff5555;
}
